# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#ignore /Debug and /Tritris/Debug
/Debug/*
/Tritris/Debug/*

#ignore /Release and /Tritris/Release
/Release/*
/Tritris/Release/*

#ignore sdf files
*.sdf